/* CSS declarations go here */
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.main {
	width: 100vw;
	height: 100vh;
	background-image: url("http://4.bp.blogspot.com/-gpiS0MDknmA/VVOreSk0O-I/AAAAAAAAAfc/qDEyLegJdKc/s1600/11260370_10152903038608479_6272696136979344186_n.jpg");
	background-repeat: no-repeat;
	background-size: 100vw, 90vw;
}

.main--description {
	color: white;
	text-align: center;
	font-family: 'Sansita', sans-serif;
	text-shadow: 0 0 6px black;
	font-size: 25px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	padding-top: 90px;
	color: white;
	font-size: 100px;
	text-shadow: 0px 0px 10px black;
	text-align: center;
}

.menu {
	color: white;
	display: flex;
	padding-top: 60px;
	justify-content: center;
}

.menu--option {
	padding: 15px 30px;
	margin: 30px;
	border: 2px solid white;
	border-radius: 100px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.4);
}

.menu--option:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
