<template name='navbar'>
	<section class='navbar'>

		<nav class='home'>
			<p><a href="{{pathFor 'home'}}">Home</a></p>
		</nav>

		<nav>
			<p><a href="{{pathFor 'team'}}">Team</a></p>
			<p><a href="{{pathFor 'art'}}">Art</a></p>
			<p><a href="{{pathFor 'goals'}}">Goals</a></p>
			<p><a href="{{pathFor 'news'}}">News</a></p>
		</nav>
	</section>

	<section class='mobile-navbar'>

		<div class='mobile-navbar__icons'>
			<a href="{{pathFor 'home'}}">
				<i class="fa fa-home" aria-hidden="true">
				</i>
			</a>

			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>

		<div class="mobile-navbar__dropdown">
			<p><a href="{{pathFor 'team'}}">Team</a></p>
			<p><a href="{{pathFor 'art'}}">Art</a></p>
			<p><a href="{{pathFor 'goals'}}">Goals</a></p>
			<p><a href="{{pathFor 'news'}}">News</a></p>
		</div>

	</section>

</template>
