$media-query: 660px;
$footer-height: 80px;

.footer {
	width: 100%;
	height: $footer-height;
	background-color: rgb(40, 40, 40);
	display: flex;
	align-items: center;

	@media all and (max-width: $media-query) {
		height: 200px;
	}

	&__links {

		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-basis: 576px;
		flex: 5;

		@media all and (max-width: $media-query) {
			flex-direction: column;
		}

		a {
			margin: 0 15px;
			padding: 5px 10px;
			border-radius: 7px;
			border: 1px solid white;
			font-size: 15px;
			color: white;
			// background-color: rgb(27, 121, 167);

			@media all and (max-width: $media-query) {
				margin: 10px;
			}
		}




	}

	&__text {
		padding-left: 30px;
		min-width: 150px;
		width: 800px;
		color: #fff;
		display: flex;
		align-items: center;
		flex: 1;

		p {
			line-height: 1.3;
		}
	}
}
