
.goals {
	background-color: #eff7f2;
}

.goals_header {
	padding-top: 30px;
	text-align: center;
}

.goals_descriptions {
	margin: 0 auto;
	max-width: 800px;
	padding: 30px;
	color: black;
}

.programs {
	
	ul{
		li{
			
			margin-left: 50px;
			
		}
	}

	a {

    	text-decoration: none;
    	color: blue;
 
	}

	a:hover {
  		border-bottom: 1px solid black;
  		text-decoration: none;
  		background-color: gray;
	}

	a:hover:after {
		content: "\00bb";
	}
	
}