/* CSS Resets */
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}

a {
	text-decoration: none;
	color: inherit;
}


/* CSS Imports */
@import 'navbar';
@import 'footer';
@import 'home';
@import 'art';
@import 'team';
<<<<<<< HEAD
@import 'goals';
=======
>>>>>>> bb9dec731afaba489f0db1153783ce8757fc88f1
@import 'news';
