.navbar {
	padding: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	nav {
		padding: 0 30px;
		display: flex;
		justify-content: flex-end;

		p {
			padding: 0 5px;
			cursor: pointer;

			a {
				&:hover {
					border-bottom: 2px solid black;
				}

			}
		}

		.home {
			justify-content: flex-start;
			align-items: center;
		}
	}
}

