$navbar-height: 60px;

.navbar {
	height: $navbar-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #606075;


	nav {
		padding: 0 20px;
		display: flex;
		justify-content: flex-end;
		background-color: #606075;

	


		p {
			padding: 0 15px;
			cursor: pointer;
			color: white;
		

			a {
				&:hover {
					border-bottom: 2px solid black;
				}

			}
		}

		.home {
			justify-content: flex-start;
			align-items: center;
			
		}
	}
}

