$navbar-height: 60px;

.navbar {
	height: $navbar-height;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media all and (max-width: 500px) {
		display: none;
	}

	nav {
		padding: 0 30px;
		display: flex;
		justify-content: flex-end;

		p {
			padding: 0 10px;
			cursor: pointer;

			a {
				&:hover {
					border-bottom: 2px solid black;
				}

			}
		}

		.home {
			justify-content: flex-start;
			align-items: center;
		}
	}
}

.mobile-navbar {
	@media all and (min-width: 500px) {
		display: none;
	}

	&__icons {
		display: flex;
		justify-content: space-between;

		i {
			padding: 15px;
			font-size: 45px;
			cursor: pointer;
		}
	}

	&__dropdown {
		text-align: center;

		p {
			padding: 3px;
		}

	}

}
