.news {
	margin: 0 auto;
	max-width: 900px;
	width: 80%;
	padding: 30px;

	h2 {
		text-align: center;
	}

	.news__block {
		margin: 0 auto;
		max-width: 900px;
		width: 80%;
		padding: 15px 30px;

		h3 {
			margin: 0 auto;

			a {

			}
		}
	}
}
