.news {
	margin: 0 auto;
	max-width: 900px;
	width: 80%;
	padding: 60px 0;
	background-color: #c7e5b0;

	h2 {
		padding-top: 30px;
		text-align: center;
	}

	.news__block {
		margin: 0 auto;
		max-width: 900px;
		width: 80%;
		padding: 15px 30px;

		h3 {
			margin: 0 auto;

			a {

			}
		}
	}
}
