<<<<<<< HEAD

.news{
	
	margin: 0 auto;
	padding: 60px 0;
	max-width: 80%;
	width: 900px;
	background-color: #c7e5b0;

}

.news_header {
		padding-top: 30px;
		text-align: center;

}
=======
.news {
	margin: 0 auto;
	max-width: 900px;
	width: 80%;
	padding: 30px;

	h2 {
		text-align: center;
	}

	.news__block {
		margin: 0 auto;
		max-width: 900px;
		width: 80%;
		padding: 15px 30px;

		h3 {
			margin: 0 auto;

			a {

			}
		}
	}
}
>>>>>>> bb9dec731afaba489f0db1153783ce8757fc88f1
